[Desktop Entry]
Name=USA, Virginia, Hampton Roads (HRT)
Comment=Accessor for Virginia, Hampton Roads, using the GTFS feed of Hampton Roads Transit (HRT). No GTFS-realtime data available.
Type=Service

X-KDE-PluginInfo-Name=us_hrt
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.gohrt.com
