[Desktop Entry]
Name=KDE PIM Libs API Documentation
Comment=Makes KDE PIM Libs documentation available to KDevelop
Type=Service

X-KDE-PluginInfo-Author=KDE PIM Developers
X-KDE-PluginInfo-Email=kde-pim@kde.org
X-KDE-PluginInfo-Version=4.5
X-KDE-PluginInfo-Website=http://api.kde.org/

X-Synchrotron-ContentUrl=http://api.kde.org/qch/kdepimlibs-4.5.qch
