[Desktop Entry]
Name=Grantlee API Documentation
Comment=Makes Grantlee documentation available to KDevelop
Type=Service

X-KDE-PluginInfo-Name=grantleeapi
X-KDE-PluginInfo-Author=Stephen Kelly
X-KDE-PluginInfo-Email=steveire@gmail.com
X-KDE-PluginInfo-Version=0.1.8
X-KDE-PluginInfo-Website=http://www.grantlee.org

X-Synchrotron-ContentUrl=http://www.grantlee.org/grantlee-018.qch
