[Desktop Entry]
Name=Austria, ÖBB-Group
Name[de]=Österreich, ÖBB-Konzern
Comment=Provides timetable data for trains and public transport in Autria, only train data for other European countries. Uses the HAFAS API.
Comment[de]=Stellt Fahrplandaten für Züge und öffentlichen Nahverkehr in Österreich zur Verfügung, für andere europäische Länder stehen Daten für Züge bereit. Nutzt die HAFAS-API
Type=Service

X-KDE-PluginInfo-Name=at_oebb
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://www.oebb.at
