[Desktop Entry]
Name=crashtest
Name[en_US]=stupidname
Name[de]=dummername
Comment=crashtest
Type=Service

X-KDE-PluginInfo-Name=crashtest_drkonqi
X-KDE-PluginInfo-Author=Matthias Fuchs
X-KDE-PluginInfo-Email=mat69@gmx.net
X-KDE-PluginInfo-Version=0.1

