[Desktop Entry]
Name=USA, Hawaii, Honolulu (Oahu Transit Services)
Comment=Accessor for Hawaii, Honolulu, using the GTFS feed of Oahu Transit Services, Inc. No GTFS-realtime data available.
Type=Service

X-KDE-PluginInfo-Name=us_oahu
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.thebus.org
