[Desktop Entry]
Name=STL API Documentation
Comment=C++'s Standard Template Library documentation
Type=Service

X-KDE-PluginInfo-Name=stlapidocs
X-KDE-PluginInfo-Author=STL developers
X-KDE-PluginInfo-Email=kde-devel@kde.org
X-KDE-PluginInfo-Version=4.8
X-KDE-PluginInfo-Website=http://www.steveire.com/

X-Synchrotron-ContentUrl=http://www.steveire.com/libstdc++-v3.qch
