[Desktop Entry]
Name=Spain, Madrid (EMT)
Comment=Accessor for Madrid, using the GTFS feed of Empresa Municipal de Transportes (EMT). No GTFS-realtime data available.
Type=Service

X-KDE-PluginInfo-Name=es_emt
X-KDE-PluginInfo-Author=Friedrich Pülz
X-KDE-PluginInfo-Email=fpuelz@gmx.de
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.emtmadrid.es
